<!DOCTYPE html>
<html lang="kor">
<head>
    <meta charset="UTF-8">
    <title>Test app</title>
    <link href="index.css" type="text/css" rel="stylesheet">
    <script src="index.js"></script>
</head>
<body>
<!--첫 화면.-->
<header>
    Recommend movie test
    <button class="circle" onclick="first()">First?</button>
</header>
<nav>
</nav>
<article>
    <div class="chat-window">
        <div class="conversation-view">
            <div class="chat-bubble me"><span class="chat-content">인기 있는 영화</span></div>
            <div class="chat-bubble"><span class="chat-content">요즘 인기 있는 영화입니다.</span></div>
            <div class="chat-bubble">
                <span class="chat-content">
                    <div class="movie">
                        <img src="img/2YAu2ctaxVGisdbmbbG35LXpQNp.jpg"><br>
                        Fast Color
                    </div>
                    <div class="movie">
                        <img src="img/2oa5oLm4FfjxvasKAW07wTrQ7Ow.jpg"><br>
                        Memories of My Body
                    </div>
                    <div class="movie">
                        <img src="img/o6oaiuJpfLDaGgu5TDW10dPxL0x.jpg"><br>
                        Murder Me, Monster
                    </div>
                </span>
            </div>
            <div class="chat-bubble"><span class="chat-content">더 알아보시겠습니까?</span></div>
            <div class="chat-bubble me"><span class="chat-content">더 보여줘</span></div>
            <div class="chat-bubble">
                <span class="chat-content">
                    <div class="movie">
                        <img src="img/g1tSdTXWv0iKDAXbrIfnFa7vgl4.jpg"><br>
                        Love on a Leash
                    </div>
                    <div class="movie">
                        <img src="img/WK9ehj4nEMvJNmFaWgll54v9yL.jpg"><br>
                        So, What's Your Price?
                    </div>
                    <div class="movie">
                        <img src="img/6EOV65KBIpn7SNUZouLlGZmPXCo.jpg"><br>
                        Endless
                    </div>
                </span>
            </div>
        </div>
        <div class="message-box">
            <form>
                <input class="text-input" type="text" autofocus placeholder="어떤 영화든 물어만 보세요!" />
            </form>
        </div>
    </div>
</article>
<footer>
</footer>
<script src="index.js"></script>
</body>
</html>